<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="#" method="post">
        <p>캐릭터</p>
        <p><input type="text" name="character"></p>
        <p>배경</p>
        <p><input type="text" name="background"></p>
        <p>테마</p>
        <p><input type="text" name="theme"></p>
        <p>언어</p>
        <p><input type="text" name="language"></p>
        <p>연령</p>
        <p><input type="text" name="age"></p>
        <p><input type="submit" value="submit"></p>
    </form>
    {{ res }}
    <img src="{{ image_url }}">
</body>
</html>